.item-list {
  display: grid;
  grid-template-columns: 454px 454px;
  grid-auto-rows: 281px;
  gap: 32px;
  padding-top: 20px;
  list-style-type: none;
  padding-inline-start: 0;
}

.film {
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 454px;
  max-height: 281px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}
